<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/style.ejs') %>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Login</title>
</head>
<body>
    <div class="editLoginPage">
        <%- include('./partials/nav.ejs') %>
        <h1>Edit Login</h1>
        <form action="/login/<%= locals.login_id %>?_method=PATCH" method="POST">
            <label for="username">New Username:</label>
            <input type="text" id="username" name="username" value="<%= locals.login.username %>" required>
            <br>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Update Login</button>
        </form>
        <%- include('./partials/foot.ejs') %>
    </div>
</body>
</html>
